@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: 'Russo One', sans-serif;
  background: #212933;
  color: white;
  height: 150 vh;
  margin: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: #f5fcce;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.intro-text {
  color: white;
  font-family: "heebo",sans-serif;
  font-size: 2.5rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #f5d002;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
}

.nav-links li {
  list-style: none;
  padding: 0 1em;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.burger div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: black;
}

.burger {
  cursor: pointer;
  display: none;
}

.featured {
  position: relative;
  margin-top: 10em;
  padding: 2em 1em;
  text-align: center;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: white;
  margin-bottom: 3em;
  font-size: .85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #f5d002;
  padding: 1em 1em 1em 1em;
}

.skills-container ul li {
  background-color: #2fadad;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 50px;
}

.skills-container ul li .icon-container.two {
  width: 100px;
}

.skills-container ul li .icon-container.three {
  width: 60px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin-top: 10em;
}

.content .left {
  position: relative;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.content .yellow {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  opacity: 0;
}

.content .squig {
  position: absolute;
  margin-top: 32%;
  left: 19%;
  width: 8vw;
}

.content .right {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.content .right h2 {
  text-align: center;
  color: white;
  font-size: 1.7rem;
}

.content .right p {
  line-height: 1.6em;
  text-align: center;
}

.anim {
  opacity: 0;
}

@media screen and (max-width: 720px) {
  .content {
    margin-top: 5em;
  }
  .intro-text {
    margin-left: -3em;
    margin-top: -3em;
    color: white;
    font-family: "heebo",sans-serif;
    font-size: 1rem;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 8vh;
    background-color: #f5d002;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: +1;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media only screen and (min-width: 720px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: -1;
  }
  .featured, .portfolio {
    text-align: left;
  }
  .left, .portfolio-letf {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1 em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2 em;
  }
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#30ff00));
  background: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#00c6ff));
  background: linear-gradient(transparent, #00c6ff);
}
/*# sourceMappingURL=main.css.map */